<!-- Toast Notification -->
<div th:fragment="successToast" th:object="${response}">
    <divs class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="successToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true"
            th:classappend="${response != null} ? 'show' : 'hide'">
            <div class="toast-header bg-success text-white">
                <strong class="me-auto">Success</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
            <div class="toast-body" th:text="${response.message}">
                <!-- Message will be inserted here by Thymeleaf -->
            </div>
        </div>
    </div>
</div>