<script th:inline="javascript" th:fragment="javaScript">
        document.addEventListener("DOMContentLoaded", function () {
            const email = /*[[${#authentication.principal.username}]]*/ '';
            const apiUrl = `/api/user/v1/info?email=${encodeURIComponent(email)}`;


            fetch(apiUrl)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const myProfileElement = document.getElementById("myProfile");
                    const hiddenInput = document.getElementById("hiddenCurrentUserId");
                    myProfileElement.textContent = data.firstName + ' ' + data.lastName;
                    myProfileElement.href = '/user/' + data.id;
                    const scheduleLink = document.getElementById("scheduleNavLink")
                    scheduleLink.href= '/schedule/' + data.id
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        });

    </script>
