<div th:fragment="professorCard" th:object="${course}">
    <div class="card result-card mb-3" th:if="${course.professor}">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="card-title" th:text="${course.professor.firstName + ' ' + course.professor.lastName + ' | ' + course.professor.email}"></div>
                <div class="d-flex gap-2">
                    <input type="text" class="form-control mb-2" th:if="${course.professor.role == 'ROLE_PROFESOR'}" th:name="ignoreProfessorId" th:value="${course.professor.id}" hidden>
                    <input type="text" th:name="professorId" th:value="${course.professor.id}" hidden>
                    <button type="button" class="btn btn-dark btn-sm remove-card" onclick="removeCard(this)">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function removeCard(button) {
            const card = button.closest(".card");
            if (card) {
                card.remove();
            } else {
                console.error("Card not found for removal.");
            }
        }
        // Observe changes to professorId field
        const professorObserver = new MutationObserver(function() {
            const hasProfessorId = document.getElementsByName('professorId').length > 0;
            document.querySelector('.search-input').disabled = hasProfessorId;
        });

        // Start observing the document body for changes
        professorObserver.observe(document.body, { 
            childList: true, 
            subtree: true 
        });
    </script>
    </div>