<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commonHead :: head">
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container my-5" > 
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="display-5 fw-bold text-dark">
                <i class="bi bi-person-gear me-2 text-muted"></i>Edit User Profile
            </h1>
            <a th:href="@{/user/{id}(id=${user.id})}" class="btn btn-outline-dark">
                <i class="bi bi-arrow-left me-1"></i> Back to Profile
            </a>
        </div>
        <!-- Profile Information Form -->
        <div th:replace="fragments/editProfile/profileInformationForm :: profileInformationForm" th:with="user=${user}"></div>
    
        <!-- Password Change Form -->
        <div th:replace="fragments/editProfile/passwordChangeForm :: passwordChangeForm" th:with="user=${user}"></div>

    </div>

    <script th:replace="fragments/javaScript :: javaScript"></script>
</body>
</html>