<!DOCTYPE html>
<html>
<head th:replace="fragments/commonHead :: head" pageTitle="Register"></head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container p-3"></div>
    <div class="container mt-5 mb-3"> 
        <h2 class="text-center">Register new user</h2>
        <form th:action="@{/user/register}" method="post" role="form" class="mt-4">
            <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter your first name" required>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter your last name" required>
            </div>
            <div class="mb-3">
                <label for="birthdate" class="form-label">Birthdate</label>
                <input type="date" class="form-control" id="birthdate" name="birthDate" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country" name="address.country" placeholder="Enter your country" required>
                
                <label for="city" class="form-label mt-3">City</label>
                <input type="text" class="form-control" id="city" name="address.city" placeholder="Enter your city" required>
                
                <label for="zip" class="form-label mt-3">ZIP Code</label>
                <input type="text" class="form-control" id="zip" name="address.zip" placeholder="Enter your ZIP code" required>
                
                <label for="street" class="form-label mt-3">Street</label>
                <input type="text" class="form-control" id="street" name="address.street" placeholder="Enter your street" required>
                
                <label for="houseNumber" class="form-label mt-3">House Number</label>
                <input type="text" class="form-control" id="houseNumber" name="address.houseNumber" placeholder="Enter your house number" required>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <input type="text" class="form-control" id="role" name="role" placeholder="Enter your role" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>
    </div>
</div>
</body>
</html>