<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commonHead :: head" pageTitle="User Management"></head>

<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1>User Management</h1>
            <a href="/user/register" class="btn btn-success">Create New User</a>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Hardcoded row -->
                        
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.role}"></td>
                            <td>
                                <a th:href="@{/user/{id}(id=${user.id})}" class="btn btn-success btn-sm">View</a>
                                <a th:href="@{/user/edit/{id}(id=${user.id})}" class="btn btn-primary btn-sm">Edit</a>
                                <button th:href="@{/user/delete/{id}(id=${user.id})}" class="btn btn-danger btn-sm">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                            th:classappend="${i == page} ? 'active'">
                            <a class="page-link" th:href="@{/user(page=${i - 1})}" th:text="${i}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
</body>

</html>