<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/commonHead :: head">

</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <!-- Admin View -->
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <div th:replace="fragments/userProfile/adminProfileView :: adminProfileView"></div>
    </div>
    <!-- Student or Profesor Self Profile -->
     <div sec:authorize="!hasRole('ROLE_ADMIN')" th:if="${isHisProfile}">
         <div th:replace="fragments/userProfile/studentProfessorSelfProfile :: studentProfessorSelfProfile"></div>
    </div>

    <!-- Student or Professor Not His Profile -->
     <div sec:authorize="!hasRole('ROLE_ADMIN')" th:if="${!isHisProfile}">
        <div th:replace="fragments/userProfile/studentProfessorNotSelfProfile :: studentProfessorNotSelfProfile"></div>
     </div>
    <script th:replace="fragments/javaScript :: javaScript"></script>
</body>
</html>